

<div class = "burgerItem">
    {{this.id}}. {{this.burger_name}}
    {{#unless devoured}}
        <button id="{{this.id}}" class = "devourButton"> Eat it!</button>
    {{/unless}}
    

</div>

    
    
                    
